<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<Config>
	<Properties>
		<year.current>2016</year.current>
		<year.previous>2015</year.previous>
		<year.next>2017</year.next>
	</Properties>
	
	<Tables>
		<Table id="T0010" template="table_0010"/>
		<Table id="T0020" template="table_0020"/>
		<Table id="T0030" template="table_0010"/>
		<Table id="T0040" template="table_0020"/>
		<Table id="T0050" template="table_0020"/>
		<Table id="T0060" template="table_0020"/>
		<Table id="T0070" template="table_0020"/>
		<Table id="T0080" template="table_0020"/>
		<Table id="T0090" template="table_0020"/>
		<Table id="T0100" template="table_0020"/>
		<Table id="T0110" template="table_0020"/>
		<Table id="T0120" template="table_0020"/>
		<Table id="T0130" template="table_0030"/>
		<Table id="T0140" template="table_0020"/>
		<Table id="T0150" template="table_0030"/>
		<Table id="T0160" template="table_0020"/>
		<Table id="T0170" template="table_0020"/>
		<Table id="T0180" template="table_0020"/>
		<Table id="T0190" template="table_0030"/>
		<Table id="T0200" template="table_0020"/>
		<Table id="T0210" template="table_0020"/>
		<Table id="T0220" template="table_0020"/>
		<Table id="T0230" template="table_0020"/>
		<Table id="T0240" template="table_0020"/>
		<Table id="T0250" template="table_0020"/>
		<Table id="T0260" template="table_0020"/>
		<Table id="T0270" template="table_0020"/>
		<Table id="T0280" template="table_0020"/>
		<Table id="T0290" template="table_0020"/>
		<Table id="T0300" template="table_0020"/>
		<Table id="T0310" template="table_0020"/>
		<Table id="T0320" template="table_0020"/>
		<Table id="T0330" template="table_0020"/>
		<Table id="T0340" template="table_0020"/>
		<Table id="T0350" template="table_0020"/>
		<Table id="T0360" template="table_0020"/>
		<Table id="T0370" template="table_0020"/>
		<Table id="T0380" template="table_0020"/>
		<Table id="T0390" template="table_0020"/>
		<Table id="T0400" template="table_0020"/>
		<Table id="T0410" template="table_0020"/>
		<Table id="T0420" template="table_0020"/>
		<Table id="T0430" template="table_0020"/>
		<Table id="T0440" template="table_0020"/>
		<Table id="T0450" template="table_0020"/>
		<Table id="T0460" template="table_0020"/>
		<Table id="T0470" template="table_0020"/>
		<Table id="T0480" template="table_0020"/>
		<Table id="T0490" template="table_0020"/>
		<Table id="T0500" template="table_0020"/>
		<Table id="T0510" template="table_0020"/>
		<Table id="T0511" template="table_0020"/>
		<Table id="T0520" template="table_0020"/>
		<Table id="T0530" template="table_0020"/>
		<Table id="T0540" template="table_0020"/>
		<Table id="T0550" template="table_0020"/>
		<Table id="T0560" template="table_0020"/>
		<Table id="T0570" template="table_0020"/>
		<Table id="T0580" template="table_0020"/>
		<Table id="T0590" template="table_0020"/>
		<Table id="T0600" template="table_0020"/>
	</Tables>
</Config>
